<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">	
<h1>Description of Item</h1><br>
<p class="h3">{{items.description}}</p>
<hr>

{% if usernamevalue %}
<div class =row>
    <div class="col-sm-6">
      <a href = '{{url_for('EditItem',menuitemid=items.id) }}' class="btn btn-primary">EditItem</a>
      <a href = '{{url_for('DeleteItem',menuitemid=items.id) }}' class="btn btn-primary">DeleteItem</a>
     </div>
     <div class="col-sm-6">
       <a href = "{{ url_for('Home')}}" class="btn btn-primary" > Cancel </a>
     </div>
</div>
{% endif %}

</div>

</body>
</html>
